<!DOCTYPE html>
<html>
 <head>
  <title>{{ .URLPath }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
  .imgcol {
	padding: 5px;
    display: inline-block;
    vertical-align: middle;
	horizontal-align: middle;
    float: none;
  }
  body {
    background-color: {{ .BgColor }};
  }
  a {
	font-size: 125%;
    color: {{ .NavColor }};	
  }
 </style>
 </head>
 <body>
  <div class="container-fluid">
   <div class="row">
   <div class="col-xs-12 text-center"><a href='{{ .GalleryURL }}'><img src='{{ (FileURL 1 .HeaderIMG "f") }}' style="padding:10px;"></a></div>
   </div>
   <div class="row">
   <div class="col-xs-1"></div>
   <div class="col-xs-10">
   <div class="row">
    <div class="col-xs-4 text-left">
      {{ if (gt .Page 0) -}}
	  <a href='{{ (PageURL "f") }}'><b>Previous Page</b></a>
	  {{- end}}
    </div>	
    <div class="col-xs-2 text-center">
      {{ if .HasVideos -}}
	  <a href='{{ .GalleryURL }}'><b>Images</b></a>
	  {{- end}}
    </div>		
    <div class="col-xs-2 text-center">
      {{ if .HasVideos -}}
	  <a href='{{ .VideoURL }}'><b>Videos</b></a>
	  {{- end}}
    </div>		
	<div class="col-xs-4 text-right">
	  {{ if (IsLastPage) -}}
	  <a href='{{ (PageURL "t") }}'><b>Next Page</b></a>
	  {{- end}}
	</div> 
	</div>
	{{ if .ServingVideo -}}
	 {{template "movies.html" .}}
	{{ else }}
	 {{template "images.html" .}}
	{{- end }}
  </div>	
  <div class="col-xs-1"></div>
  </div>
 </div>
 </body>
</html>
